body {
  background: rgb(148, 165, 175);
}

* {
  box-sizing: border-box;
}

.h_1 {
  margin: 0 auto 10px;
  height: 200px;
  padding: 10px;
  background-color: #aaa;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: goldenrod;
  font-size: 40px;
}

/* Create three equal columns */
.column_1 {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 360px;
  background-color: #aaa;
  color: rgb(73, 73, 23);
}

/* Clear floats after the columns */
.row_1:after {
  content: "";
  display: table;
  clear: both;
}

/* Create three equal columns */
.column_2 {
  float: left;
  width: 50%;
  margin-top: 10px;
  padding: 10px;
  height: 220px;
  background-color: #aaa;
  color: rgb(73, 73, 23);
}

/* Clear floats after the columns */
.row_2:after {
  content: "";
  display: table;
  clear: both;
}

.image1 {
  width: 390px;
  height: 260px;
}

.h_2 {
  margin-top: 10px;
  height: 180px;
  width: 100%;
  padding: 10px;
  background-color: #aaa;
  text-align: left;
  color: rgb(73, 73, 23);
}

.h_3 {
  margin-top: 10px;
  height: 450px;
  width: 100%;
  padding: 10px;
  background-color: #aaa;
  text-align: left;
  color: rgb(73, 73, 23);
}

.h_4 {
  margin-top: 10px;
  height: 240px;
  width: 100%;
  padding: 10px;
  background-color: #aaa;
  text-align: left;
  color: rgb(73, 73, 23);
}
.title_1{
  /* text-align: center; */
  font-style: italic;
  font-weight: bold;
  color: goldenrod;
  font-size: 24px;
}

.title_2{
  /* text-align: center; */
  /* font-style: italic;
  font-weight: bold; */
  color: #aaa;
  font-size: 24px;
}

.title_3{
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: goldenrod;
  font-size: 32px;
}